<div class="cart">
  <div class="quick-add-container">
    <div class="quick-add-box">
      Quick add:
      <label>
        Item:
        <input id="quick-add-item" [(ngModel)]="quickAddItem" (keyup.enter)="quickAdd()"/>
      </label>
      <label>
        Quantity:
        <input id="quick-add-qty" [(ngModel)]="quickAddQty" (keyup.enter)="quickAdd()"/>
      </label>
      <button (click)="quickAdd()">Add item</button>

    </div>
  </div>
  <table>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Remove</th>
    </tr>
    <tr class="cart-detail" *ngFor="let order of order.summaryDetail">
      <td class="cart-detailx">{{order.id}} {{order.itemId}}</td>
      <td>{{order.item?.description}}</td>
      <td>{{order.item?.price}}</td>
      <td><input [(ngModel)]="order.quantity" title="quantity"></td>
      <td><button (click)="remove(item)">Remove</button></td>
    </tr>
  </table>
<div class="order-summary-container">
  <div class="order-summary-box">
    <div class="cart-checkout">
      <div>
        Cart total  <span id="cart-total">${{order.total}}</span>
      </div>
      <div>
        <button (click)="checkout()">Check out</button>
      </div>
    </div>
  </div>
</div>

</div>
